# ULTRATECH DAILY PRODUCTION COMMENTARY WITH TPP & WHRS COMMENTARY

# CSV AUTOMATION FOR CLINKER PRODUCTION

In [1]:

#importing pandas as pd
import pandas as pd
  
# Read and store content
# of an excel file 
read_file = pd.read_excel ("C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.xlsx")
  
# Write the dataframe object
# into csv file
read_file.to_csv ("C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_csv("C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.csv"))
  
# show the dataframe

In [2]:
df.columns

Index(['DMD Dashboard - Production/Dispatch- UTCL', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [3]:
#DROPPING THE COLUMNS 
df.drop(labels=['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 
                'Unnamed: 11', 'Unnamed: 12','Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
                'Unnamed: 16','Unnamed: 17'], axis=1, inplace=True)

In [4]:
df.rename(columns = {'DMD Dashboard - Production/Dispatch- UTCL':df.loc[2,'DMD Dashboard - Production/Dispatch- UTCL'],
                     'Unnamed: 1':df.loc[2,'Unnamed: 1'],
                     'Unnamed: 2':df.loc[2,'Unnamed: 2'],
                     'Unnamed: 3':df.loc[2,'Unnamed: 3'],
                     'Unnamed: 4':df.loc[2,'Unnamed: 4'],
                     'Unnamed: 5':df.loc[2,'Unnamed: 5']}, inplace = True)

In [5]:
df['DateTime'] = df.loc[0,'Unit']

In [6]:
df['Date'] = pd.to_datetime(df['DateTime']).dt.date

In [7]:
df.drop(labels=['DateTime'], axis=1, inplace=True)

In [8]:
df['Date'] = pd.to_datetime(df.Date)

In [9]:
df['Date1'] = df['Date'].dt.strftime('%d/%m/%Y')

In [10]:
new_cols = ["Date1","Unit","Potential","Budget","Today","Avg MTD","Var"]
df=df[new_cols]
#or
df=df.reindex(columns=new_cols)

In [11]:
df.drop([0,1,2],axis=0,inplace=True)

In [12]:
#df.drop(labels=['Avg MTD'], axis=1, inplace=True)

In [13]:
#df['Today'] = df['Today'].astype(int
df['Today'] = pd.to_numeric(df['Today'])

In [14]:
df['Budget'] = pd.to_numeric(df['Budget'])

In [15]:
df["TPD"] = ( df["Budget"] - df["Today"])

In [16]:
df.drop(labels=['Var'], axis=1, inplace=True)

In [17]:
df["Var"] = ( df["Today"] - df["Budget"])

In [18]:
df.drop(labels=['Potential'], axis=1, inplace=True)

In [19]:
df['Budget'] = pd.to_numeric(df['Budget'])

In [20]:
 
df["Percentage"] = ( df["TPD"] / df["Budget"] * 100)

# CLINKER REASONS

In [21]:
KS =pd.read_excel(r"C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.xlsx",sheet_name='Stoppage Reasons')
KS.to_csv(r"C:\\Users\\jaideep.naroo-st\\Documents\\UTCL.csv",index = None, header=True)

In [22]:
KS.drop(labels=['Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], axis=1, inplace=True)

In [23]:
KS.rename(columns = {' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t':KS.loc[2,' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t'],
                     'Unnamed: 1':KS.loc[2,'Unnamed: 1'],
                     'Unnamed: 2':KS.loc[2,'Unnamed: 2'],
                     'Unnamed: 3':KS.loc[2,'Unnamed: 3'],
                     'Unnamed: 4':KS.loc[2,'Unnamed: 4'],
                     'Unnamed: 5':KS.loc[2,'Unnamed: 5'],
                     'Unnamed: 6':KS.loc[2,'Unnamed: 6'],
                     'Unnamed: 7':KS.loc[2,'Unnamed: 7']}, inplace =True)

In [24]:
KS.drop([0,1,2],axis=0,inplace=True)

In [25]:
KS["Plant Name"].fillna( method ='ffill', inplace = True)

In [26]:
KS.drop(labels=['Plant Category', 'Frequency','Frequency'], axis=1, inplace=True)

In [27]:
KS = KS.loc[:, pd.notnull(KS.columns)]

In [28]:
KS.rename(columns = {'Plant Name':'Unit'}, inplace = True)

In [29]:
KS=KS[~KS['Stoppage Hours'].isnull()]

In [30]:
import numpy as np
KS['Stoppage Hours'] = np.where((KS['Stoppage Hours']==0), 1000, KS['Stoppage Hours'])

In [31]:
clkr=df.merge(KS[['Unit','System Remark','Remark by User','Stoppage Hours','Workcentre']], on = 'Unit', how = 'left')

In [32]:
clkr["Stoppage Hours"].fillna("0", inplace = True)

In [33]:
clkr["Workcentre"].fillna( method ='ffill', inplace = True)

In [34]:
clkr["Workcentre"].bfill(inplace=True)

In [35]:
clkr["Remark by User"].fillna("none", inplace = True)
#clkr["System Remark"].fillna("none", inplace = True)
#clkr["Workcentre"].fillna("none", inplace = True)

In [36]:
colsclink= ['System Remark']
clkr.loc[:,colsclink] = clkr.loc[:,colsclink].ffill()

In [37]:
dat=clkr.loc[4,'Date1']

In [38]:
#clkr['Var'] = pd.to_numeric(['Var'])

In [39]:
#clkr['Var']= round(clkr['Var'],1)

In [40]:
clkr['Percentage'] = pd.to_numeric(clkr['Percentage'])

In [41]:
clkr['Percentage']= round(clkr['Percentage'],1)

In [42]:
clkr['Stoppage Hours'] = pd.to_numeric(clkr['Stoppage Hours'])

In [43]:
def clkr_neg_to_pos(clkr):
    if clkr['TPD'] < 0:
        return clkr['TPD'] + clkr['TPD'] - clkr['TPD']
    elif clkr['TPD'] >0:
        return clkr['TPD']

#create Age_new 
clkr['TPD'] = clkr['TPD'].abs()

In [44]:
def clkr_perc(clkr):
    if clkr['Percentage'] < 0:
        return clkr['Percentage'] + clkr['Percentage'] - clkr['Percentage']
    elif clkr['Percentage'] >0:
        return clkr['Percentage']

#create Age_new 
clkr['Percentage'] = clkr['Percentage'].abs()

# CSV AUTOMATION FOR CEMENT PRODUCTION

In [45]:
df_cmt =pd.read_excel(r'C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.xlsx',sheet_name='Cement Production')
df_cmt.to_csv(r'C:\\Users\\jaideep.naroo-st\\Documents\\cementproduction.csv',index = None, header=True)

#change the csv file as kinl is occupying this one.

In [46]:
df_cmt.columns

Index([' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [47]:
#DROPPING THE COLUMNS 
df_cmt.drop(labels=['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 
                'Unnamed: 10', 'Unnamed: 11','Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], axis=1, inplace=True)

In [48]:
df_cmt.rename(columns = {' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t':df_cmt.loc[3,' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t'],
                     'Unnamed: 1':df_cmt.loc[3,'Unnamed: 1'],
                     'Unnamed: 2':df_cmt.loc[3,'Unnamed: 2'],
                     'Unnamed: 3':df_cmt.loc[3,'Unnamed: 3'],
                     'Unnamed: 4':df_cmt.loc[3,'Unnamed: 4']}, inplace = True)

In [49]:
df_cmt.drop([0,1,2],axis=0,inplace=True)

In [50]:
df_cmt.drop([3],axis=0,inplace=True)

In [51]:
df_cmt["TPD"] = ( df_cmt["Budget"] - df_cmt["Today"])

In [52]:
df_cmt.drop(labels=['Var'], axis=1, inplace=True)

In [53]:
df_cmt["Var"] = ( df_cmt["Today"] - df_cmt["Budget"])

In [54]:
df_cmt = df_cmt[df_cmt['Budget'] != 0]

In [55]:
df_cmt["Percentage"] = ( df_cmt["TPD"] / df_cmt["Budget"] *100)

In [56]:
df_cmt=df_cmt.dropna()#= df_cmt['Percentage'] = df_cmt['Percentage'].astype(int)

In [57]:
df_cmt['Var'] = pd.to_numeric(df_cmt['Var'])

In [58]:
df_cmt['Budget'] = pd.to_numeric(df_cmt['Budget'])

In [59]:
df_cmt['Budget']= round(df_cmt['Budget'],1)

In [60]:
df_cmt['Var']= round(df_cmt['Var'],1)

In [61]:
df_cmt['Percentage'] = pd.to_numeric(df_cmt['Percentage'])

In [62]:
df_cmt['Percentage']= round(df_cmt['Percentage'],1)

In [63]:
df_cmt['TPD'] = pd.to_numeric(df_cmt['TPD'])

In [64]:
df_cmt['TPD']= round(df_cmt['TPD'],1)

# CEMENT PRODUCTION

In [65]:
CS =pd.read_excel(r'C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.xlsx',sheet_name='Stoppage Reasons')
CS.to_csv(r'C:\\Users\\jaideep.naroo-st\\Documents\\UTCL.csv',index = None, header=True)

In [66]:
CS.columns

Index([' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [67]:
CS.drop(labels=[' \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8'], axis=1, inplace=True)

In [68]:
CS.rename(columns = {'Unnamed: 9':CS.loc[2,'Unnamed: 9'],
                     'Unnamed: 10':CS.loc[2,'Unnamed: 10'],
                     'Unnamed: 11':CS.loc[2,'Unnamed: 11'],
                     'Unnamed: 12':CS.loc[2,'Unnamed: 12'],
                     'Unnamed: 13':CS.loc[2,'Unnamed: 13'],
                     'Unnamed: 14':CS.loc[2,'Unnamed: 14']}, inplace = True)

In [69]:
CS.drop([0,1,2],axis=0,inplace=True)

In [70]:
CS["Plant Name"].fillna( method ='ffill', inplace = True)

In [71]:
CS.rename(columns = {'Plant Name':'Unit'}, inplace = True)

In [72]:
import numpy as np
CS['Stoppage Hours'] = np.where((CS['Stoppage Hours']==0), 1000, CS['Stoppage Hours'])

In [73]:
cemt=df_cmt.merge(CS[['Unit','System Remark','Remark by User','Stoppage Hours','Workcentre']], on = 'Unit', how = 'left')

In [74]:
cemt["Stoppage Hours"].fillna("0", inplace = True)

In [75]:
#cemt["System Remark"].fillna("none", inplace = True)
colscemt= ['System Remark']
cemt.loc[:,colscemt] = cemt.loc[:,colscemt].ffill()

In [76]:
#cemt["Remark by User"].fillna("none", inplace = True)

In [77]:
#cemt["Workcentre"].fillna("none", inplace = True)
cemt["Workcentre"].fillna( method ='ffill', inplace = True)

In [78]:
cemt["Workcentre"].bfill(inplace=True)

In [79]:
cemt["Date1"]= clkr.loc[4,'Date1']

In [80]:
#cemt.rename(columns = {'Percentage':'Percentage1'}, inplace = True)

In [81]:
new_cols1 = ["Date1","Unit","Budget","Today","Avg MTD","Var","TPD","Percentage","System Remark","Remark by User","Stoppage Hours","Workcentre"]
cemt=cemt[new_cols1]
#or
cemt=cemt.reindex(columns=new_cols1)

In [82]:
def tran_neg_to_pos(sp):
    if cemt['TPD'] < 0:
        return cemt['TPD'] + cemt['TPD'] - cemt['TPD']
    elif cemt['TPD'] >0:
        return cemt['TPD']

#create Age_new 
cemt['TPD'] = cemt['TPD'].abs()

In [83]:
#chnages made from percentage1 to percentage
def perc_neg_to_pos(sp):
    if cemt['Percentage'] < 0:
        return cemt['Percentage'] + cemt['Percentage'] - cemt['Percentage']
    elif cemt['Percentage'] >0:
        return cemt['Percentage']

#create Age_new 
cemt['Percentage'] = cemt['Percentage'].abs()

# CEMENT  SUMMARY DATASET PROCESSING

In [84]:
alpha=cemt.set_index("Unit")

In [85]:
north= alpha.loc['AC':'NORTH']

In [86]:
north = north.reset_index()

In [87]:
import numpy as np
north=north.apply(np.roll, shift=1)

In [88]:
north['Region']= 'North'

In [89]:
central= alpha.loc['BLCW':'CENTRAL']

In [90]:
central = central.reset_index()

In [91]:
import numpy as np
central=central.apply(np.roll, shift=1)

In [92]:
central['Region']= 'Central'

In [93]:
east= alpha.loc['RWCW':'EAST']

In [94]:
east = east.reset_index()

In [95]:
import numpy as np
east=east.apply(np.roll, shift=1)

In [96]:
east['Region']= 'East'

In [97]:
west= alpha.loc['GCW':'WEST']

In [98]:
west = west.reset_index()

In [99]:
import numpy as np
west=west.apply(np.roll, shift=1)

In [100]:
west['Region']= 'West'

In [101]:
south= alpha.loc['RC':'SOUTH']

In [102]:
south = south.reset_index()

In [103]:
import numpy as np
south=south.apply(np.roll, shift=1)

In [104]:
south['Region']= 'South'

In [105]:
vidarbha= alpha.loc['ACW':'VIDARBHA']

In [106]:
vidarbha = vidarbha.reset_index()

In [107]:
import numpy as np
vidarbha=vidarbha.apply(np.roll, shift=1)

In [108]:
vidarbha['Region']= 'Vidarbha'

# Final Cement Dataset

In [109]:
#cement=[north,central,east,west,south,vidarbha]
cement = pd.concat([north,central,east,west,south,vidarbha], ignore_index=True, sort=False)

In [110]:
cement['dup_number'] = cement.groupby(['Unit']).cumcount()+1

In [111]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('NORTH', 'Summary')

In [112]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('SOUTH', 'Summary')

In [113]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('EAST', 'Summary')

In [114]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('WEST', 'Summary')

In [115]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('UTIO', 'Summary')

In [116]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('VIDARBHA', 'Summary')

In [117]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
cement['Unit'] = cement['Unit'].str.replace('CENTRAL', 'Summary')

In [118]:
cement['Prod_type']='Cement'

In [119]:
cement['Remark by User'] = cement['Remark by User'].replace(['none'],np.nan)

In [120]:
cement=cement.ffill(axis = 1)

# TPP & WHRS Dataset Processing

In [121]:
tw = pd.read_excel ("C:\\Users\\jaideep.naroo-st\\Documents\\DMD Dashboard - Production n Dispatch - UTCL.xlsx",sheet_name='TPP WHRS')
tw.to_csv ("C:\\Users\\jaideep.naroo-st\\Documents\\tpp.csv", index = None,header=True)
tw= pd.DataFrame(pd.read_csv("C:\\Users\\jaideep.naroo-st\\Documents\\tpp.csv"))

In [122]:
tw.columns

Index(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [123]:
tw.drop(labels=['Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'], axis=1, inplace=True)

In [124]:
tw.rename(columns = {'\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t':tw.loc[3,'\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t'],
                     'Unnamed: 4':tw.loc[3,'Unnamed: 4'],
                     'Unnamed: 5':tw.loc[3,'Unnamed: 5']}, inplace = True)

In [125]:
tw['DateTime'] = tw.loc[1,'Plant']

In [126]:
tw.drop([0,1,2,3],axis=0,inplace=True)

In [127]:
tw.drop([125],axis=0,inplace=True)

In [128]:
tw['Date1'] = pd.to_datetime(tw['DateTime']).dt.date

In [129]:
tw.drop(labels=['DateTime'], axis=1, inplace=True)

In [130]:
tw['Date1'] = pd.to_datetime(tw.Date1)
tw['Date'] = tw['Date1'].dt.strftime('%d/%m/%Y')

In [131]:
tw.drop(labels=['Date1'], axis=1, inplace=True)

In [132]:
tp=tw.iloc[0:76]

In [133]:
whrs=tw.iloc[81:120]

In [134]:
index_names = tp[ tp['Plant'] == 'CPTG01' ].index
index_names2 = tp[ tp['Plant'] == 'CPTG02' ].index
index_names3 = tp[ tp['Plant'] == 'CPTG03' ].index
index_names4 = tp[ tp['Plant'] == 'CPTG04' ].index
index_names5 = tp[ tp['Plant'] == 'CPTG05' ].index

In [135]:
tp.drop(index_names, inplace = True)
tp.drop(index_names2, inplace = True)
tp.drop(index_names3, inplace = True)
tp.drop(index_names4, inplace = True)
tp.drop(index_names5, inplace = True)

C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3436083997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tp.drop(index_names, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3436083997.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tp.drop(index_names2, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3436083997.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tp.drop(index_names3, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3436083997.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tp.drop(index_names4, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3436083997.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tp.drop(index_names5, inplace = True)

In [136]:
tp.reset_index(drop = True, inplace = True)

In [137]:
tp['Type']= 'TPP'

C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\494668982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tp['Type']= 'TPP'

In [138]:
index_names1 = whrs[ whrs['Plant'] == 'CPHR01' ].index
index_names12 = whrs[ whrs['Plant'] == 'CPHR02' ].index

In [139]:
whrs.drop(index_names1, inplace = True)
whrs.drop(index_names12, inplace = True)

C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\139803838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whrs.drop(index_names1, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\139803838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whrs.drop(index_names12, inplace = True)

In [140]:
whrs.reset_index(drop = True, inplace = True)

In [141]:
whrs['Type']= 'WHRS'

C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\778577464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whrs['Type']= 'WHRS'

In [142]:
tpwA=tp.merge(whrs[['Plant','Budget','Today','Type']], on = 'Plant', how = 'left')

In [143]:
tpw=tp.merge(whrs[['Plant','Budget','Today','Type']], on = 'Plant', how = 'inner')#inner

In [144]:
whrs.rename(columns = {'Budget':'Budget(Whrs)'}, inplace = True)
whrs.rename(columns = {'Today':'Today(Whrs)'}, inplace = True)
whrs.rename(columns = {'Type':'Type(Whrs)'}, inplace = True)

C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3213968143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whrs.rename(columns = {'Budget':'Budget(Whrs)'}, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3213968143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whrs.rename(columns = {'Today':'Today(Whrs)'}, inplace = True)
C:\Users\jaideep.naroo-st\AppData\Local\Temp\ipykernel_8068\3213968143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whrs.rename(columns = {'Type':'Type(Whrs)'}, inplace = True)

In [145]:
tpwA.rename(columns = {'Budget_x':'Budget(TPP)'}, inplace = True)
tpwA.rename(columns = {'Today_x':'Today(TPP)'}, inplace = True)
tpwA.rename(columns = {'Type_x':'Type(TPP)'}, inplace = True)
tpwA.rename(columns = {'Budget_y':'Budget(Whrs)'}, inplace = True)
tpwA.rename(columns = {'Today_y':'Today(Whrs)'}, inplace = True)
tpwA.rename(columns = {'Type_y':'Type(Whrs)'}, inplace = True)

In [146]:
entry = whrs.loc[whrs['Plant'] == 'DHCW']

In [147]:
entry

  Plant Budget(Whrs) Today(Whrs)        Date Type(Whrs)
2  DHCW   73.5648417     2.12665  21/07/2022       WHRS

In [148]:
A=tpwA.fillna(0)

In [149]:
z = pd.concat([A,entry], ignore_index=True, sort=False)

In [150]:
z=z.fillna(0)

In [151]:
z['Prod_type']= 'Clinker'

In [152]:
z.loc[4,'Region']='North'
z.loc[10,'Region']='Central'
z.loc[14,'Region']='East'
z.loc[17,'Region']='West'
z.loc[22,'Region']='South'
z.loc[26,'Region']='Vidarbha'
z.loc[27,'Region']='North'

In [153]:
z["Region"].bfill(inplace=True)

In [154]:
z.rename(columns = {'Region':'Plant'}, inplace = True)

# Tpp Whrs commentary generation

In [155]:
import pandas as pd
z.to_csv('tpwh.csv', index=False)
z=pd.read_csv("tpwh.csv")

In [156]:
sys_df=pd.read_csv('tpwh.csv', sep=',')
json_output = r'TPWH.json'
output= sys_df.to_json(json_output,indent=1,orient='records')

In [157]:
import sys

stdoutOrigin=sys.stdout
sys.stdout= open("cv1.txt","w")

In [158]:
import random
def Tpwh_value(pl,bu,td,tp,bu1,td1,tp1):
    tpwh_list=[]
    my_tpwh=[]
    
    if td1==0.00000 and td==0.00000 :
        tpwh_list.append('No TPP & WHRS Gross Generation') 
    elif td1==0.00000:
        tpwh_list.append('The TPP Gross Generation was  '+ str(td)+' lac/kwh against budget '+str(bu)+' lac/kwh')
    elif td==0.00000:
        tpwh_list.append('The WHRS Gross Generation was '+ str(td1)+ ' lac/kwh against budget '+str(bu1)+' lac/kwh')
    elif tp1==None:
        tpwh_list.append('TPP Gross Generation '+ str(td)+' lac/kwh against budget '+str(bu)+' lac/kwh') 
    else:
        tpwh_list.append('TPP Gross generation was '+str(td)+' lac/kwh against budget '+str(bu)+' lac/kwh. WHRS Gross Generation was '+ str(td1)+' lac/kwh against budget '+str(bu1)+' lac/kwh')
        
    my_tpwh = random.choice(tpwh_list)
    return my_tpwh

In [159]:
rows = len(z.axes[0])
s = int(rows)
s

28

In [160]:
print('Commentary')
import json
filenamez = 'TPWH.json'
figure_dictz = []
text_dictz = []
with open(filenamez) as f:
    json_dataz = json.load(f)
    
    for i in range(0, s):
        figure_infoz = json_dataz[i]
        
        pl = figure_infoz["Plant"]
        bu = figure_infoz["Budget(TPP)"]
        td = figure_infoz["Today(TPP)"]
        tp = figure_infoz["Type(TPP)"]
        bu1 = figure_infoz["Budget(Whrs)"]
        td1 = figure_infoz["Today(Whrs)"]
        tp1 = figure_infoz["Type(Whrs)"]

           

        htext =Tpwh_value(pl,bu,td,tp,bu1,td1,tp1)
         
        dict_itemz = {"Plant":pl,"Budget(TPP)":bu,"Today(TPP)":td,"Type(TPP)":tp,"Budget(Whrs)":bu1,"Today(TPP)":td1,"Ty":tp1}
        #print('%s:'%pl,htext)
        print(htext)
        print('\n')

In [161]:
sys.stdout.close()
sys.stdout=stdoutOrigin

In [162]:
o=s+1
o

29

In [163]:
import numpy as np
import pandas as pd

x = np.loadtxt('cv1.txt',delimiter = '\n\n', dtype=str)
reshaped = x.reshape(-1,o).T
f = pd.DataFrame(data = reshaped[1:,:], columns = reshaped[0])

In [164]:
Tppwhrs=pd.merge(z, f, left_index=True, right_index=True)

In [165]:
Tppwhrs.rename(columns = {'Plant':'Unit'}, inplace = True)
Tppwhrs.rename(columns = {'Budget(TPP)':'Budget'}, inplace = True)
Tppwhrs.rename(columns = {'Today(TPP)':'Today'}, inplace = True)
#Tppwhrs.rename(columns = {'Commentary':'Comm'}, inplace = True)
Tppwhrs.rename(columns = {'Plant.1':'Plant'}, inplace = True)

In [166]:
Tppwhrs['Avg MTD']=0
Tppwhrs['Var']=0
Tppwhrs['Workcentre']="none"
new_colsA = ["Unit","Date","Budget","Today","Avg MTD","Var","Workcentre","Plant","Prod_type","Commentary","Type(TPP)"]
Tppwhrs=Tppwhrs[new_colsA]

In [167]:
Tppwhrs

,Unit,Date,Budget,Today,Avg MTD,Var,Workcentre,Plant,Prod_type,Commentary,Type(TPP)
0,AC,21/07/2022,202.200000,5.41168,0,0,none,North,Clinker,TPP Gross generation was 5.41168 lac/kwh again...,TPP
1,VC,21/07/2022,134.970134,3.74200,0,0,none,North,Clinker,The TPP Gross Generation was 3.742 lac/kwh ag...,TPP
2,KCW,21/07/2022,79.130304,0.00000,0,0,none,North,Clinker,The WHRS Gross Generation was 3.29349 lac/kwh ...,TPP
3,NDCW,21/07/2022,286.198200,5.08032,0,0,none,North,Clinker,TPP Gross generation was 5.08032 lac/kwh again...,TPP
4,NORTH,21/07/2022,702.498638,14.23400,0,0,none,North,Clinker,TPP Gross generation was 14.234 lac/kwh agains...,TPP
5,BLCW,21/07/2022,84.084350,3.80000,0,0,none,Central,Clinker,TPP Gross generation was 3.8 lac/kwh against b...,TPP
6,SDCW,21/07/2022,184.403820,4.06000,0,0,none,Central,Clinker,The TPP Gross Generation was 4.06 lac/kwh aga...,TPP
7,DLCW,21/07/2022,77.627195,4.48000,0,0,none,Central,Clinker,TPP Gross generation was 4.48 lac/kwh against ...,TPP
8,DSCW,21/07/2022,0.000000,0.00000,0,0,none,Central,Clinker,No TPP & WHRS Gross Generation,TPP
9,MHCW,21/07/2022,193.200432,5.77000,0,0,none,Central,Clinker,TPP Gross generation was 5.77 lac/kwh against ...,TPP
10,CENTRAL,21/07/2022,539.315798,18.11000,0,0,none,Central,Clinker,TPP Gross generation was 18.11 lac/kwh against...,TPP
11,RWCW,21/07/2022,315.904692,3.98000,0,0,none,East,Clinker,TPP Gross generation was 3.98 lac/kwh against ...,TPP
12,HCW,21/07/2022,148.242000,0.00000,0,0,none,East,Clinker,The WHRS Gross Generation was 2.49458 lac/kwh ...,TPP
13,BKCW,21/07/2022,57.030218,4.68800,0,0,none,East,Clinker,The TPP Gross Generation was 4.688 lac/kwh ag...,TPP
14,EAST,21/07/2022,521.176910,8.66800,0,0,none,East,Clinker,TPP Gross generation was 8.668 lac/kwh against...,TPP
15,GCW,21/07/2022,389.448806,6.76400,0,0,none,West,Clinker,TPP Gross generation was 6.764 lac/kwh against...,TPP
16,SCW,21/07/2022,155.201274,5.40000,0,0,none,West,Clinker,The TPP Gross Generation was 5.4 lac/kwh agai...,TPP
17,WEST,21/07/2022,544.650081,12.16400,0,0,none,West,Clinker,TPP Gross generation was 12.164 lac/kwh agains...,TPP
18,RC,21/07/2022,339.431028,9.39923,0,0,none,South,Clinker,TPP Gross generation was 9.39923 lac/kwh again...,TPP
19,APCW,21/07/2022,376.333800,5.63000,0,0,none,South,Clinker,TPP Gross generation was 5.63 lac/kwh against ...,TPP
20,RDCW,21/07/2022,73.814100,2.22200,0,0,none,South,Clinker,The TPP Gross Generation was 2.222 lac/kwh ag...,TPP
21,BJCW,21/07/2022,174.198480,10.52528,0,0,none,South,Clinker,The TPP Gross Generation was 10.52528 lac/kwh...,TPP
22,SOUTH,21/07/2022,963.777408,27.77651,0,0,none,South,Clinker,TPP Gross generation was 27.77651 lac/kwh agai...,TPP
23,ACW,21/07/2022,215.932548,6.92640,0,0,none,Vidarbha,Clinker,TPP Gross generation was 6.9264 lac/kwh agains...,TPP
24,MKW1,21/07/2022,0.000000,2.10000,0,0,none,Vidarbha,Clinker,The TPP Gross Generation was 2.1 lac/kwh agai...,TPP
25,MKW2,21/07/2022,222.467803,4.71600,0,0,none,Vidarbha,Clinker,TPP Gross generation was 4.716 lac/kwh against...,TPP
26,VIDARBHA,21/07/2022,438.400351,13.74240,0,0,none,Vidarbha,Clinker,TPP Gross generation was 13.7424 lac/kwh again...,TPP
27,DHCW,21/07/2022,0.000000,0.00000,0,0,none,North,Clinker,The WHRS Gross Generation was 2.12665 lac/kwh ...,0

In [168]:
Tppwhrs['Unit'] = Tppwhrs['Unit'].str.replace('NORTH', 'Summary')
Tppwhrs['Unit'] = Tppwhrs['Unit'].str.replace('CENTRAL', 'Summary')
Tppwhrs['Unit'] = Tppwhrs['Unit'].str.replace('WEST', 'Summary')
Tppwhrs['Unit'] = Tppwhrs['Unit'].str.replace('EAST', 'Summary')
Tppwhrs['Unit'] = Tppwhrs['Unit'].str.replace('SOUTH', 'Summary')
Tppwhrs['Unit'] = Tppwhrs['Unit'].str.replace('VIDARBHA', 'Summary')

In [169]:
Tppwhrs['Type(TPP)']=Tppwhrs['Type(TPP)'].replace(['0'], 'TPP')

# CLINKER SUMMARY DATASET PROCESSING

In [170]:
beta=clkr.set_index("Unit")

In [171]:
clnorth= beta.loc['AC-1':'NORTH']

In [172]:
clnorth = clnorth.reset_index()

In [173]:
import numpy as np
clnorth=clnorth.apply(np.roll, shift=1)

In [174]:
clnorth['Region']= 'North'

In [175]:
clcentral= beta.loc['BLCW-1':'CENTRAL']

In [176]:
clcentral = clcentral.reset_index()

In [177]:
import numpy as np
clcentral=clcentral.apply(np.roll, shift=1)

In [178]:
clcentral['Region'] = "Central"

In [179]:
cleast= beta.loc['RWCW-1':'EAST']

In [180]:
cleast = cleast.reset_index()

In [181]:
import numpy as np
cleast=cleast.apply(np.roll, shift=1)

In [182]:
cleast['Region'] = "East"

In [183]:
clwest= beta.loc['GCW-1':'WEST']

In [184]:
clwest = clwest.reset_index()

In [185]:
import numpy as np
clwest=clwest.apply(np.roll, shift=1)

In [186]:
clwest['Region'] = "West"

In [187]:
clsouth= beta.loc['RC-1':'SOUTH']

In [188]:
clsouth = clsouth.reset_index()

In [189]:
import numpy as np
clsouth=clsouth.apply(np.roll, shift=1)

In [190]:
clsouth['Region'] = "South"

In [191]:
clvidarbha= beta.loc['ACW-1':'VIDARBHA']

In [192]:
clvidarbha = clvidarbha.reset_index()

In [193]:
import numpy as np
clvidarbha=clvidarbha.apply(np.roll, shift=1)

In [194]:
clvidarbha['Region'] = "Vidarbha"

# Final Clinker Dataset

In [195]:
#cement=[north,central,east,west,south,vidarb
clinker= pd.concat([clnorth,clcentral,cleast,clwest,clsouth,clvidarbha], ignore_index=True, sort=False)

In [196]:
clinker['dup_number'] = clinker.groupby(['Unit']).cumcount()+1 # form df1 to df

In [197]:
#cement.rename(columns = {'NORTH':'Summary'}, inplace = True)
clinker['Unit'] = clinker['Unit'].str.replace('NORTH', 'Summary')

In [198]:
clinker['Unit'] = clinker['Unit'].str.replace('SOUTH', 'Summary')

In [199]:
clinker['Unit'] = clinker['Unit'].str.replace('EAST', 'Summary')

In [200]:
clinker['Unit'] = clinker['Unit'].str.replace('WEST', 'Summary')

In [201]:
clinker['Unit'] = clinker['Unit'].str.replace('VIDARBHA', 'Summary')

In [202]:
clinker['Unit'] = clinker['Unit'].str.replace('CENTRAL', 'Summary')

In [203]:
clinker['Prod_type']='Clinker'

In [204]:
clinker['Remark by User'] = clinker['Remark by User'].replace(['none'],np.nan)

In [205]:
clinker=clinker.ffill(axis = 1)

In [206]:
rows = len(cement.axes[0])
n = str(rows)

# Cement Summary Generation

In [207]:
import sys

stdoutOrigin=sys.stdout
sys.stdout= open("output.txt","w")

In [208]:
import pandas as pd
cement.to_csv('cement1.csv', index=False)
cement=pd.read_csv("cement1.csv")

In [209]:

sys_df=pd.read_csv('cement1.csv', sep=',')
json_output = r'cementjs.json'
output= sys_df.to_json(json_output,indent=1,orient='records')

In [210]:
import random
def special_value(date,unit,bud,tar,sh,sr,sy,ur,var,perc,dn):
    word_list=[]
    my_word=[]
    
   # if var > 0:
   #     word_list.append('The production exceeded by ' +str(perc)+'%('+str(tar)+') TPD'+ ' against ' +str(bud)+'TPD'+ ' budgeted after ' +str(sh)+ ' hours of stoppage due to ' +sr+ ' in '+ur+ '.')
    
    if unit=='Summary' and var > 0:
        word_list.append('The production target exceeded by ' +str(perc)+ '%('+ str(tar)+' TPD)'+ ' against a budget of ' +str(bud)+' TPD'+ ' because of following reasons:')
    elif unit == 'Summary' and var< 0:
        word_list.append('The production loss of ' +str(perc)+'%('+str(tar)+' TPD)'+ 'against a budget of ' +str(bud)+' TPD'+ ' because of following reasons:')
        
    elif perc == 100.0 and sy=='none':
        word_list.append('No production')
    elif perc == 100.0:
        word_list.append('No production because of ' +sy+ ' in '+ ur)
    
    elif sh == 0 and var > 0:
        word_list.append('The production target exceeded by '+str(perc)+ '%('+ str(tar)+' TPD)'+ ' against a budget of ' +str(bud)+' TPD')
    elif sh == 0 and var < 0:
        word_list.append('The production dropped by ' +str(perc)+ '%('+ str(tar)+' TPD)'+ ' against a budget of ' +str(bud)+' TPD') 

    elif sh ==1000 and var > 0:
        word_list.append('The production target exceeded after'+sr+'for 0.0 hours in'+ur)
    elif sh == 1000 and var < 0:
        word_list.append('The production dropped after'+sr+'for 0.0 hours in'+ur)
        
#################################################################################################################################################################################################################################      
    elif dn == 2 and var > 0:
        word_list.append('The exceed in target was attained despite of ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn == 3 and var > 0:
        word_list.append('The exceed in target was attributed even after ' + sr +' for '+str(sh)+' hours in '+ur+'.')  
    elif dn == 4 and var > 0:
        word_list.append('The exceed in target was attributed even after ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn in range(5,7)  and var > 0:
        word_list.append('The target exceeded even after ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn in range(7,9)  and var > 0:
        word_list.append('The exceed in target was attributed even after ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn>=9  and var > 0:
        word_list.append('The exceed in target was attained despite of ' + sr +' for '+str(sh)+' hours in '+ur+'.')

#################################################################################################################################################################################################################################      

    elif dn == 2 and var < 0:
        word_list.append('The drop was due to ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn == 3 and var < 0:
        word_list.append('The dip was also because of ' + sr +' for '+str(sh)+' hours in '+ur+'.')  
    elif dn == 4 and var < 0:
        word_list.append('The drop was also attributed to ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn in range(5,7)  and var < 0:
        word_list.append('The dip was due to ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn in range(7,9)  and var < 0:
        word_list.append('The drop was also because of ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    elif dn>=9  and var < 0:
        word_list.append('The drop was also attributed to ' + sr +' for '+str(sh)+' hours in '+ur+'.')
    
        
        
        
#################################################################################################################################################################################################################################  


    elif var>0:
        word_list.append('The production target exceeded by ' +str(perc)+'%('+str(tar)+' TPD)'+ ' against a budget of ' +str(bud)+' TPD'+ ' even after shutdown due to  ' +sr+ ' for '+str(sh)+' hours in '+ur+ '.')

    elif var == 0:
        word_list.append('No production')
    else:
        word_list.append('The production fell by ' +str(perc)+'%('+str(tar)+' TPD)'+ ' against a budget of ' +str(bud)+' TPD due to ' +sr+ ' for '+str(sh)+' hours in '+ur+ '.')
        
    
    my_word = random.choice(word_list)
    return my_word

In [211]:
rows = len(cement.axes[0])
n = int(rows)

In [212]:
print('Commentary')
import json
filename = 'cementjs.json'
figure_dict = []
text_dict = []
with open(filename) as f:
    json_data = json.load(f)
    
    for i in range(0, n):
        figure_info = json_data[i]
        
        date = figure_info["Date1"]
        unit = figure_info["Unit"]
        bud = figure_info["Budget"]
        tar = figure_info["TPD"]
        sh = figure_info["Stoppage Hours"]       
        sr = figure_info["Remark by User"] 
        sy = figure_info["System Remark"]
        ur = figure_info["Workcentre"]
        var = figure_info["Var"]
        perc = figure_info["Percentage"]
        dn = figure_info["dup_number"]
        

      

        mytext = special_value(date,unit,bud,tar,sh,sr,sy,ur,var,perc,dn)
         
        dict_item = {"Date1":date,"Unit":unit, "Budget":bud, "TPD":tar, "Stoppage Hours":sh, "System Remark":sy,"Remark by User":sr, "Workcentre":ur,"VAR":var,"Percentage":perc,"dup_number":dn}
        #print('%s:'%unit,mytext)
        print(mytext)
        print('\n')

In [213]:
sys.stdout.close()
sys.stdout=stdoutOrigin

# Clinker Summary Generation

In [214]:
import sys

stdoutOrigin1=sys.stdout
sys.stdout= open("output1.txt","w")

In [215]:
import pandas as pd
import json

clinker.to_csv('clinker1.csv', index=False)
clinker=pd.read_csv("clinker1.csv")

In [216]:
sys_df=pd.read_csv('clinker1.csv', sep=',')
json_output1 = r'clinkerjs.json'
output= sys_df.to_json(json_output1,indent=1,orient='records')

In [217]:
#clinker.isnull().sum()

In [218]:
#clinker["Workcentre"].fillna( method ='ffill', inplace = True)

In [219]:
#clinker["Percentage"].fillna( method ='ffill', inplace = True)

In [220]:
#aggregate summary
import random
def clinker_value(date1,unit1,bud1,tar1,sh1,sr1,sy1,ur1,var1,per1,dn1):
    clkr_list=[]
    clkr_word=[]
    
    #if var1 > 0:
     #   clkr_list.append('The production exceeded by ' +str(per1)+'%('+str(tar1)+') TPD'+ ' against ' +str(bud1)+'TPD'+ ' budgeted after ' +str(sh1)+ ' hours of stoppage due to ' +sr1+ ' in '+ur1+ '.')

    if unit1=='Summary' and var1 > 0:
        clkr_list.append('The production target exceeded by ' +str(per1)+ '%('+ str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD'+ ' because of following reasons:')
    elif unit1 == 'Summary' and var1 < 0:
        clkr_list.append('The production loss of ' +str(per1)+'%('+str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD'+ ' because of following reasons:')
    
    elif per1 == 100.0 and sy1=='none':
        clkr_list.append('No production')
    elif per1 == 100.0:
        clkr_list.append('No production because of ' +sy1+ ' in '+ ur1)

##################################################################################################################################################################################################################################      
    elif dn1 == 2 and var1 > 0:
        clkr_list.append('The exceed in target was attained despite of ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1 == 3 and var1 > 0:
        clkr_list.append('The exceed in target was attributed even after ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')  
    elif dn1 == 4 and var1 > 0:
        clkr_list.append('The exceed in target was attributed even after ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1 in range(5,7)  and var1 > 0:
        clkr_list.append('The target exceeded even after ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1 in range(7,9)  and var1 > 0:
        clkr_list.append('The exceed in target was attributed even after ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1>=9  and var1 > 0:
        clkr_list.append('The exceed in target was attained despite of ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')

#################################################################################################################################################################################################################################      

    elif dn1 == 2 and var1 < 0:
        clkr_list.append('The drop was due to ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1 == 3 and var1 < 0:
        clkr_list.append('The dip was also because of ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')  
    elif dn1 == 4 and var1 < 0:
        clkr_list.append('The drop was also attributed to ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1 in range(5,7)  and var1 < 0:
        clkr_list.append('The dip was due to ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1 in range(7,9)  and var1 < 0:
        clkr_list.append('The drop was also because of ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')
    elif dn1>=9  and var1 < 0:
        clkr_list.append('The drop was also attributed to ' + sr1 +' for '+str(sh1)+' hours in '+ur1+'.')

##########################################################################################################################################    
    elif sh1 == 0 and var1 > 0:
        clkr_list.append('The production target exceeded by ' +str(per1)+ '%('+ str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD')
    elif sh1 == 0 and var1 < 0:
        clkr_list.append('The production fell by ' +str(per1)+ '%('+ str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD')

    elif sh1 ==1000 and var1 > 0:
        clkr_list.append('The production target exceeded by ' +str(per1)+ '%('+ str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD')
    elif sh1 ==1000 and var1 < 0:
        clkr_list.append('The production fell by ' +str(per1)+ '%('+ str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD')

##########################################################################################################################################    

    elif var1>0:
        clkr_list.append('The production target exceeded by ' +str(per1)+'%('+str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD '+ 'even after shutdown due to  ' +sr1+ ' for '+ str(sh1)+' hours in '+ur1+ '.') 
         
    elif var1 == 0:
        clkr_list.append('No production')
        
    else:
        clkr_list.append('The production dropped by ' +str(per1)+'% ('+str(tar1)+' TPD)'+ ' against a budget of ' +str(bud1)+' TPD '+ 'due to ' +sr1+ ' for '+str(sh1) +' hours in '+ur1+ '.')
    
   

 
    
    clkr_word = random.choice(clkr_list)
    return clkr_word

In [221]:
rows = len(clinker.axes[0])
m = int(rows)

In [222]:
print('Commentary')
import json
filename = 'clinkerjs.json'
figure_dict1 = []

text_dict1 = []
with open(filename) as f:
    json_data1 = json.load(f)
    
    for i in range(0, m):
        afigure_info1 = json_data1[i]
        
        date1 =afigure_info1["Date1"]
        unit1 =afigure_info1["Unit"]
        bud1 =afigure_info1["Budget"]
        tar1 =afigure_info1["TPD"]
        sh1 = afigure_info1["Stoppage Hours"]       
        sr1 = afigure_info1["Remark by User"] 
        sy1 = afigure_info1["System Remark"]
        ur1 = afigure_info1["Workcentre"]
        var1 = afigure_info1["Var"]
        per1 = afigure_info1["Percentage"]
        dn1 = afigure_info1["dup_number"]

      

        clkrtext = clinker_value(date1,unit1,bud1,tar1,sh1,sr1,sy1,ur1,var1,per1,dn1)
        
    
        dict_item1 = {"Date":date1,"Unit":unit1, "Budget":bud1, "TPD":tar1, "Stoppage Hours":sh1, "Remark by User":sr1, "System Remark":sy1, "Workcentre":ur1,"VAR":var1,"Percentage":per1,"dup_number":dn1}
        #print('%s:' %unit1,clkrtext)
        print(clkrtext)
        print('\n')

In [223]:
sys.stdout.close()
sys.stdout=stdoutOrigin1

In [224]:
j=1+m

In [225]:
import numpy as np
import pandas as pd

x = np.loadtxt('output1.txt',delimiter = '\n\n', dtype=str)
reshaped = x.reshape(-1,j).T
output1 = pd.DataFrame(data = reshaped[1:,:], columns = reshaped[0])

In [226]:
k=n+1

In [227]:
import numpy as np
import pandas as pd

y = np.loadtxt('output.txt',delimiter = '\n\n', dtype=str)
reshaped = y.reshape(-1,k).T
output = pd.DataFrame(data = reshaped[1:,:], columns = reshaped[0])

In [228]:
#cemetcom= pd.concat([cement,output], ignore_index=True, sort=False)
cemcom= cement.join(output)

In [229]:
clincom = clinker.join(output1)

In [230]:
datautc= pd.concat([cemcom,clincom], ignore_index=False)

In [231]:
datautc.drop(labels=['TPD', 'Percentage',
       'System Remark', 'Remark by User', 'Stoppage Hours', 'dup_number'], axis=1, inplace=True)

In [232]:
datautc.rename(columns = {'Region':'Plant'}, inplace = True)

In [233]:
datautc.rename(columns = {'Date1':'Date'}, inplace = True)

In [234]:
fnconc = pd.concat([datautc,Tppwhrs], ignore_index=True, sort=False)

In [235]:
#fnconc['Type']=""

In [236]:
fnconc['Type(TPP)'] = fnconc['Type(TPP)'].fillna('Cement&Clinker')

In [237]:
#finalprod.to_csv('prodd.csv', header=True)

In [238]:
#datautc['Commentary']=datautc['Commentary'].str.capitalize()
fnconc.to_excel(r'C:\Users\jaideep.naroo-st\Downloads\prodd.xlsx', index = False)

In [239]:
#from openpyxl import load_workbook

#path = r'C:\Users\jaideep.naroo-st\Downloads\productiondata.xlsx'
#book = load_workbook(path)
#writer = pd.ExcelWriter(r'C:\Users\jaideep.naroo-st\Downloads\productiondata.xlsx', engine='openpyxl')
#writer.book = book
#writer.sheets = {ws.title: ws for ws in book.worksheets}
#fnconc.to_excel(writer, startrow=writer.sheets['Sheet1'].max_row, index = False,header= False)

#writer.save()